html(lang="en")
    head
        title Dept CRUD
        meta(charset="UTF-8")
    style.
        thead {
            background-color: lightgray;
        }

        table, th, tr, td {
            border: 1px dashed gray;
            border-collapse: collapse;
            text-align: center;
            padding: 2px 5px;
        }

        tbody > tr > td:first-child {
            background-color: beige;
            font-weight: bold;
        }
    body
        h1 부서 수정 폼 (Update)
            form(name="deptUpdateForm", action="/deptUpdate.do", method="POST")
                table
                    thead
                        tr
                            th 항목
                            th 내용

                    tbody
                        tr
                            td 부서번호
                            td=dept.DEPTNO
                                input(value=dept.DEPTNO, name="deptno", type="hidden")
                        trw
                            td 부 서 명
                            td
                                input(value=dept.DNAME, name="dname")
                        tr
                            td 지 역
                            td
                                input(value=dept.LOC, name="loc")
                        tr
                            td
                                a(href="/deptDelete.do?deptno=" + dept.DEPTNO) 삭제
                            td
                                button(type="submit") 수정

